@model VotingApplication.Models.Election

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Election</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElectionTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElectionTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElectionStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElectionStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElectionStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElectionStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElectionStartHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElectionStartHour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElectionEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElectionEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElectionEndHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElectionEndHour)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ElectionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
